*{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%); /* Цвет фона */
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;

    font-size: 14px;
    line-height: 1.6;
    color: #8476AA;
    
   }
   
   .container {
       max-width: 1440px;
       margin: 0 auto;
   }
   