*{
    box-sizing: border-box;
}
    body {
    padding: 0;
    margin: 0;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%); /* Цвет фона */
    font-family: 'Inter', sans-serif;

    font-size: 14px;
    line-height: 1.6;
    color: #8476AA;
   }

    .container {
    max-width: 1440px;
    margin: 0 auto;
   }

   .header__wrapper {
    padding: 103px 0 143px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .header-content {
    max-width: 428px;
    width: 100%;
    display: flex;
    justify-content: space-between;
   }

   a {
    text-decoration: none;
    }

   .header__btn {
    max-width: 244px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

   .header__nav {
    list-style: none;
    max-width: 347px;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;  
   }

   .nav__link {
    color: #B5B5B5;
   }

   .header__btn .btn {
    padding: 8px 28px;
    border: 1px solid #F2994A;
    font-style: normal;
    text-align: center;
   }

   .btn--outlined {
    color: #F2994A;
    text-align: center;
    text-transform: uppercase;
   }

   .btn--contained {
    color: #FFFFFF;
    background-color: #F2994A;
    text-align: center;
    text-transform: uppercase;
    }

    .main-content {
    display: flex;
    }

    .main-content__text {
    max-width: 540px;
    height: 439px;
    left: 170px;
    top: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .main-content__title h1 {
    position: absolute;
    width: 531px;
    height: 150px;
    top: 250px;
    font-size: 44px;
    line-height: 50px;
    font-style: normal;
    font-weight: bold;
    color: #99EFD0;
    }

    .main-content__title span {
    margin-top: 19px;
    position: absolute;
    width: 468px;
    height: 44px;
    top: 435px;
    font-family: Gilroy-SemiBold;
    font-size: 18px;
    line-height: 22px;
    color: #8476AA;
    margin-bottom: 200px;
    }
      
    .main-content__title {
    margin-bottom: 270px;
    }

    .main-content__btn {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: left;
    }

    .main-content__btn .btn {
    padding: 17px 31px 17px 33px;
    border: 1px solid #F2994A;
    font-style: normal;
    text-align: center;
    display: flex;
    font-family: Rubik;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    }

    .main-content__btn_outlined {
    margin-left: 20px;
    width: 157px;
    height: 46px;
    }

    .main-content__img {
    position: absolute;
    width: 724px;
    height: 580px;
    top: 215px;
    left: 935px;
    }

    .main-content__preview {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    width: 100%;
    }

    .main-content__preview img {
    width: 140px;
    height: 80px;
    }

    .main-content__preview_text {
    padding-left: 20px;
    max-width: 380px;
    width: 100%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    }

    .main-content__group_img {
    max-width: 1170px;
    width: 100%;
    margin-top: 91px;
    display: flex;
    justify-content: space-around;
    }

    .your-choice {
    max-width: 997px;
    width: 100%;
    margin: auto;
    }

    .your-choice__title {
    margin-top: 99px;
    text-align: center;
    }


    .your-choice__title h2 {
    font-size: 42px;
    margin: 0;
    line-height: 50px;
    font-style: normal;
    font-weight: bold;
    color: #99EFD0;
    }

    .your-choice__title .section-subtitle {
    margin-top: 13px;
    font-size: 16px;
    line-height: 22px;
    }

    .your-choice__points_one {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    }

    .your-choice__point_title {
    padding-left: 28px;
    }

    .your-choice__point_title h5 {
    font-size: 18px;
    margin: 0;
    line-height: 32px;
    color: #99EFD0;
    }

    .your-choice__point {
    max-width: 299px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    }

    .your-choice__points_two {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    }

    .your-choice__point {
    max-width: 299px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    }

    .increase-your-business-traffic__content {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .increase-your-business-traffic__text {
    max-width: 470px;
    height: 279px;
    width: 100%;
    display: flex;
    flex-direction: column;
    }

    .increase-your-business-traffic__img {
    margin-top: 150px;
    margin-left: 59px;
    }

    .increase-your-business-traffic__content .section__title h2 {
    width: 470px;
    height: 100px;
    font-size: 42px;
    line-height: 50px;
    font-style: normal;
    font-weight: bold;
    color: #99EFD0;
    }

    .increase-your-business-traffic__content span {
    margin-top: 32px;
    width: 470px;
    height: 56px;
    font-family: Gilroy-SemiBold;
    font-size: 15px;
    line-height: 28px;
    color: #8476AA;
    }

    .increase-your-business-traffic__content .btn {
    margin-top: 43px;
    width: 156px;
    height: 48px;
    display: flex;
    padding: 17px 31px 17px 33px;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    }

    .simple-ways {
    max-width: 1091px;
    width: 100%;
    margin: auto;
    }

    .simple-ways__title {
    margin-top: 52px;
    text-align: center;
    }

    .simple-ways__title h3{
    width: 864px;
    height: 84px;
    }
    
    .simple-ways__title h3{
    font-size: 36px;
    margin: auto;
    line-height: 42px;
    font-style: normal;
    font-weight: bold;
    color: #99EFD0;
    text-align: center;
    }

    .simple-ways__content .simple-ways-subtitle {
    margin: 32px auto;
    width: 414px;
    height: 40px;
    font-family: Gilroy-SemiBold;
    font-size: 15px;
    line-height: 20px;
    }

    .simple-ways__text {
    display: flex;
    justify-content: space-between;
    }

    .simple-ways__text-item h3 {
    margin-top: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #99EFD0;
    text-align: center;
    }

    .simple-ways__text-item {
    max-width: 291px;
    height: 118px;
    text-align: center;
    }

    .simple-ways__text-item span {
    margin: 16x auto;
    width: 291px;
    height: 60px;
    font-family: Gilroy-SemiBold;
    font-size: 15px;
    line-height: 20px;
    }

    .create-project {
    margin: auto;
    width: 770px;
    height: 200px;
    }

    .create-project__content {
    margin: 169px auto;
    text-align: center;
    justify-content: center;
    }


    .create-project .create-project__title h2{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #99EFD0;
    }

    .create-project .btn {
    width: 164px;
    height: 54px;
    margin: 46px auto;
    display: flex;
    padding: 17px 31px 17px 33px;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    }

    .create-project__img {
    max-width: 1230px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    }

    .invest-property {
    margin: 48px auto;
    max-width: 1344px;
    width: 100%;
    justify-content: space-between;
    }

    .invest-property__content {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .increase-your-business-traffic__text {
    max-width: 470px;
    height: 316px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .invest-property__title {
    margin-top: 48px;
    max-width: 474px;
    height: 100px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    }
    
    .invest-property__title h2 {
    width: 470px;
    height: 100px;
    font-size: 42px;
    line-height: 50px;
    font-style: normal;
    font-weight: bold;
    color: #99EFD0;
    }

    .invest-property__title span {
    margin-top: 32px;
    font-family: Gilroy-SemiBold;
    font-size: 15px;
    line-height: 28px;
    }

    .invest-property__text .btn {
    display: flex;
    margin-top: 46px;
    width: 164px;
    height: 54px;
    padding: 17px 31px 17px 33px;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    }

    .images-group__wrapper {
    margin-top: 48px;
    }

    .help-finding__content{
    margin: 24px auto;
    max-width: 1091px;
    width: 100%;
    }

    .help-finding__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .help-finding__text {
    max-width: 512px;
    height: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .help-finding__title h4 {
        width: 480px;
        height: 32px;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: #99EFD0;
        }

    .help-finding__title span{
    margin-top: 32px;
    font-family: Gilroy-SemiBold;
    font-size: 15px;
    line-height: 20px;
    }

    .features__wrapper {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .features__wrapper .content__title h5{
    margin-top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #99EFD0;
    }

    .features__wrapper .content__title span {
    margin-top: 8px;
    width: 224px;
    height: 60px;
    font-family: Gilroy-SemiBold;
    font-size: 15px;
    line-height: 20px;
    }




    










    

