* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'ABeeZee', sans-serif;
  font-size: 16px;
  color: #3C3C3C;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__wrapper {
  padding: 29px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo h1{
  margin: 0;
}

.header__nav {
  max-width: 570px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav_list {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 375px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__nav_list a {
  color: #3c3c3c;
}

.btn {
  padding: 14px 25px;
  border: 1px solid #B57AD2;
  border-radius: 23px;
  font-style: italic;
  color: #B57AD2;
  text-align: center;
}

.btn--contained {
  background-color: #B57AD2;
  color: #fff;
  font-size: 18px;
}

.main-content {
  display: flex;
}

.main-content__text {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content__title h2 {
  font-size: 40px;
  font-style: italic;
  line-height: 42px;
  margin: 0;
  padding-bottom: 30px;
}

.main-content__title span {
  font-size: 20px;
  line-height: 28px;
}

.main-content__title {
  margin-bottom: 83px;
}

.main-content__text .btn {
  max-width: 202px;
  width: 100%;
}

.main-content__img img {
  width: 954px;
}

.main-content__img  {
  margin-right: -315px;
}

.bottom-banner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.our-services {
  margin-top: 30px;
}

.our-services__title  {
  text-align: center  ;
}

.our-services__title h3 {
  font-size: 32px;
  margin: 0;
  line-height: 56px;
  font-style: italic;
  font-weight: 400;
}

.our-services__title .section-subtitle {
  line-height: 34px;
}

.our-services__cards {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}

.our-services__card {
  max-width: 560px;
  width: 100%;
}
.our-services-content__img {
  font-size: 0;
}
.our-services__content_wrapper {
  padding: 40px 40px 23px 25px;
}

.our-services__text {
  font-size: 22px;
  line-height: 26px;
}

.our-services__nav_list {
  margin: 21px 0 0 0 ;
  padding: 0 0 0 25px ;
}

.our-services__nav_list_item::marker {
  color: #B57AD2;
  font-size: 32px;
}

.our-services__nav {
  margin-bottom: 23px;
}

.our-services__content_btn {
  display: flex;
}

.our-services__content_btn .btn {
  width: 100%;
  max-width: 202px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 20px 53px 20px 53px ;
  border-radius: 32px;
}